# This is Git's per-user configuration file.
[user]
	name = Travis Christ
	email = travis.christ@auctane.com
# Please adapt and uncomment the following lines:
#	name = Travis Christ
#	email = travis.christ@auctane.com
[http]
	postBuffer = 157286400
