[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = travch
	email = travis.christ@shipstation.com
[push]
	default = simple
[alias]
  # list file names and their diff counts
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
  # build a dependency graph out of files changed (repo is too big for this to work rn)
  depgraph = !git madge image --webpack-config webpack.config.js --basedir . --style solarized-dark src
  # open every changed file on a branch in a new tab for review - diff visible
  review = !vim -p $(git whatchanged --name-only --pretty="" origin..HEAD) +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
  # undo the last commit but maintain the changes to the working tree
  undo-commit = !git reset --soft HEAD^
